*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width:100%;
    height: 9vh;
    background-color: #0a0b0c;
}

html{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    color:white;
    display:flex;
    justify-content: flex-end;
    padding: 14px;
}
.navbar img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 253px;
}
.navbar ul{
    display: flex;
}

.navbar ul .items{
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    font-size:16px;
    font-weight: 600;
    letter-spacing:2px;
}

.content{
    width:100%;
    height:41vh;
    background-color: #1a1c20;
    padding-top: 16px;
}

.content h1{
    color:white;
    text-transform: uppercase;
    letter-spacing:2px;
    width: 66vw;
}
.content h2{
    color:#f29555;
    text-transform: uppercase;
    font-size:14px;
    width: 85vw;
    padding-top: 24px;
}

.content .title{
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.cool{
    width: 100px;
    height: 100px;
    top: 344px;
    position: absolute;
    left: 111px;
    border: 2px solid #f29555;
    border-radius: 50%;
}

.segunda{
    width: 100%;
    padding: 21px;
    height:50vh;
    background-color:#E5E5E5;
}
.about{
    margin-top:36px;
}

.title-head{
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size:24px;
    font-weight: 600;
}
.about .parrafo{
    font-size:16px;
}
